html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
  font-family: Merriweather;
}

header {
  color: white;
  background-color: #cd5b34;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem
}

h2  {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  background-color: #d98156;
  clear: right;
}

nav li {
  display: block;
  float: left;
  width: 33.333333%;
  list-style-type: none;
}

nav a {
  display: block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  background-color: #cd5b34;
  text-decoration: none;
}

nav ol {
  overflow: hidden;
  padding: 0;
}

.grains {
  float: left;
  width: 25%;
  margin-right: 15px;
}

.inset {
  float: right;
  width: 25%;
  margin-right: 15px;
  clear: left;
}

.clear-it {
  clear: right;
}

.p2 {
  clear: left;
}

.legumes {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  color: black;
}

.graphics {
  float: left;
  width: 10%;
  margin-right: 15px;
}

.graphics-2 {
  float: right;
  width: 10%;
  margin-right: 15px;
}

div {
  background: #d98156;
  overflow: hidden;
  clear: right;
}

.corn {
  width: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

.rice {
  float: left;
  display:inline-block;
  margin: 0;
  width: 50%;
  padding: 0;
  text-align:center;
}

.oats {
  float: right;
  display:inline-block;
  margin: 0;
  width: 50%;
  padding: 0;
}

.width {
  width: 100%
}

footer {
  text-align: center;
  background-color: #cd5b34;
}

figcaption {
  text-align: center;
  color: white;
}
